.main-menu {
    $super: &;

    padding: 40px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 15;

    &__container {
        background-color: $white;
        bottom: 0;
        box-shadow: 0 0 200px 50px rgba($black, .75);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        max-width: 95%;
        opacity: 0;
        overflow: scroll;
        padding: 50px;
        position: fixed;
        right: -570px;
        top: 0;
        transition: opacity .25s ease-in-out, right .25s ease-in-out;
        width: 570px;

        nav {
            padding: 40px 0 0;

            a {
                border-bottom: 1px solid rgba($gray, .5);
                color: $black;
                display: block;
                font-family: $font-serif;
                font-size: 40px;
                padding: 15px 0;
                position: relative;
                text-decoration: none;

                > span {
                    position: relative;

                    &::after {
                        background-color: $yellow;
                        bottom: -16px;
                        content: '';
                        height: 3px;
                        left: 0;
                        position: absolute;
                        transition: width .25s ease-in-out;
                        width: 0;
                    }
                }

                &:hover {
                    > span {
                        &::after {
                            width: 100%;
                        }
                    }
                }

                .badge {
                    background-color: $yellow;
                    border-radius: 50%;
                    color: $white;
                    font-family: $font-sans-serif;
                    font-size: 11px;
                    height: 15px;
                    line-height: 15px;
                    position: absolute;
                    text-align: center;
                    width: 15px;
                }
            }
        }

        .social {
            list-style-type: none;
            margin: 0;
            padding: 15px 0;

            li {
                display: inline-block;
            }

            &__icon {
                height: 25px;
                margin-right: 15px;
                width: auto;
            }
        }

        .contact {
            display: flex;
            flex-wrap: wrap;
            font-style: normal;
            justify-content: space-between;
            margin: -10px;

            &__detail {
                display: inline-block;
                padding: 10px;
                width: 50%;

                &:first-child {
                    width: 100%;
                }

                a {
                    background-position: center left 15px;
                    background-repeat: no-repeat;
                    background-size: 20px;
                    border: 1px solid rgba($gray, .5);
                    color: $black;
                    display: block;
                    font-family: $font-sans-serif;
                    font-size: 14px;
                    padding: 25px 0 25px 50px;
                    text-decoration: none;
                }
            }

            &__address {
                background-image: url('../../assets/img/icons/marker.svg');
            }

            &__email {
                background-image: url('../../assets/img/icons/mail.svg');
            }

            &__phone {
                background-image: url('../../assets/img/icons/phone.svg');
            }
        }
    }

    &__toggler {
        cursor: pointer;
        height: 28px;
        position: relative;
        width: 35px;

        .bar {
            background-color: $white;
            height: 4px;
            margin-top: -2px; // 50% height for centering;
            position: absolute;
            right: 0;
            top: 50%;
            transition: background-color .25s ease-in-out, width .25s ease-in-out, transform .25s ease-in-out, opacity .25s ease-in-out;
            width: 35px;

            &:first-of-type {
                margin-top: 0;
                top: 0;
                width: 25px;
            }

            &:last-of-type {
                bottom: 0;
                margin-top: auto;
                top: auto;
                width: 30px;
            }
        }
    }

    &--open {
        z-index: 20;

        #{$super}__container {
            opacity: 1;
            right: 0;
        }

        #{$super}__toggler {
            .bar {
                background-color: $black;
                margin-top: -2px;
                opacity: 0;
                top: 50%;
                transform: rotate(180deg);
                width: 35px;

                &:first-of-type {
                    opacity: 1;
                    transform: rotate(225deg);
                }

                &:last-of-type {
                    opacity: 1;
                    transform: rotate(-225deg);
                }
            }
        }
    }
}

.frozen-pineapple {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

@media (max-width: $breakpoint-sm) {
    .main-menu {
        &__container {
            nav {
                a {
                    font-size: 30px;
                    text-align: center;
                }
            }

            .contact__detail {
                width: 100%;
            }

            .social {
                padding: 30px 0;
                text-align: center;
            }
        }
    }
}
