$number-of-slides: 4;

@for $i from 1 through $number-of-slides {

    #slide-#{$i} {
        background-image: url('../../assets/img/slides/#{$i}.jpg');
    }
}

.content-slider {

    .slides {
        color: $white;
        list-style-type: none;

        &__slide {
            align-items: center;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 140px;
        }
    }

    .slider-nav {
        bottom: 0;
        display: flex;
        flex-direction: column;
        left: 0;
        padding: 30px 25px;
        position: fixed;

        img {
            cursor: pointer;
            margin-top: 10px;
            opacity: 1;
            transition: transform .25s ease-in-out, opacity .25s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }

            &.hidden {
                opacity: 0;
            }
        }
    }

    .slider-paging {
        bottom: 0;
        display: flex;
        flex-direction: column;
        padding: 30px 40px;
        position: fixed;
        right: 0;
        z-index: 5;

        ul,
        li {
            color: $white;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .slider-paging__link {
            margin-top: 40px;
            text-align: right;

            a {
                color: $white;
                font-family: $font-serif;
                font-size: 16px;
                opacity: .45;
                padding-right: 5px;
                text-decoration: none;
                transition: opacity .25s ease-in-out;

                &:hover {
                    opacity: 1;
                }
            }

            &--active {
                border-right: 3px solid $yellow;

                a {
                    font-size: 24px;
                    line-height: 24px;
                    opacity: 1;
                }
            }
        }
    }

}

@media (max-width: $breakpoint-md) {
    .content-slider {
        .slides {
            &__slide {
                padding: 0 10%;
            }
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .content-slider {
        .slider-paging {
            display: none;
        }
    }
}
