$font-serif: 'Bitter', serif !default;
$font-sans-serif: 'Open Sans', sans-serif !default;

$breakpoint-lg: 992px;
$breakpoint-md: 767px;
$breakpoint-sm: 575px;

$black: #000 !default;
$white: #fff !default;
$gray: #979797 !default;
$light-gray: #ccc !default;
$yellow: #ebba07 !default;
$dark-brown: #1d1614 !default;
